<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>My Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="banner">
    <a href="/">
        <img src="/images/blog.jpeg">
            <span  th:text ="#{index.title}"/>
        </img>
    </a>
</div>
<div id="viewpost">
    <div class = "posts">
        <div class= "post" >
            <div class = "title">
             <h1>   <span th:text="${post.title}" /> </h1>
            </div>
            <div class = "image">
                <img th:src="@{${'/post/image/' + post.id}}" />
            </div>

            <div class = "date">
                Date : <span th:text="${post.createDate}"/>
            </div>
            <div class = "text">
                Author : <span th:text="${post.user.name}"/>
            </div>
            <div class = "text">
                <p th:text="${post.text}"/> </p>
            </div>
        </div>
        <h2> Write a comment</h2>
        <div class="newComment">
            <form action="#" th:action="@{${'/post/addComment/' + post.id}}" method="post" th:object="${comment}">
                <label>Name:</label><br/>
                <input type="text" th:field="*{name}" /><br/>

                <label>Title:</label><br/>
                <input type="text" th:field="*{title}" /><br/>

                <label>Comment:</label><br/>
                <textarea rows="5" cols="30" th:field="*{text}"></textarea>
                <br/>

                <button type="submit">Submit</button>
            </form>

        </div>
        <h2> Comments </h2>
        <div class="comments">

            <div class="comment" th:each="comment: ${comments}">
                <div class = "ctitle">
                    <h3> <span th:text="${comment.title}" /> </h3>
                </div>
                <div class = "cname">
                    <span th:text="${comment.name}" />
                </div>
                <div class = "ctext">
                    <p th:text="${comment.text}"/> </p>
                </div>
            </div>
        </div>


    </div>
</div>

</body>
</html>