<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>My Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="banner">
    <img src="/images/blog.jpeg">
    <span  th:text ="#{index.title}"/>
    </img>

</div>
<div id="viewUser">
    <div class = "controls">
        <a th:href="@{${'/post/addpost/'+ user_id}}">Create new Post</a>
    </div>
    <div class = "userdetails">
        <div class= "user" >
            <div class = "name">
             Name:  <span th:text="${user.name}" />
            </div>
            <div class = "email">
                Email:  <span th:text="${user.email}" />
            </div>
            <div class = "gender">
                Gender:  <span th:text="${user.gender}" />
            </div>
            <div class = "profession">
                Profession:  <span th:text="${user.profession}" />
            </div>

            <div class = "birthday">
                Birthday:  <span th:text="${user.birthday}" />
            </div>

        </div>

    </div>
</div>
<a href="/">Home</a>

</body>
</html>